.logo-container {
  margin-left: 32;
  margin-right: 32;
}
.title {
  font-weight: "bold";
  font-size: 10;
  line-height: "16px";
  color: "#FFFFFF";
  margin-left: 10;
}
.logo {
  height: 60;
  width: 60;
}
