/* The custom-radio-second */
.custom-radio-second {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.custom-radio-second input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark-second {
  position: absolute;
  top: -1px;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #fff;
  border: 1px solid #00008b;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.custom-radio-second:hover input ~ .checkmark-second {
  background-color: #e4e9ff;
}

/* When the radio button is checked, add a blue background */
.custom-radio-second input:checked ~ .checkmark-second {
  background-color: #fff;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark-second:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.custom-radio-second input:checked ~ .checkmark-second:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.custom-radio-second .checkmark-second:after {
  top: 1px;
  left: 1px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #00008b;
}
