// UI Kit - Q1 2021
// Add "Title-Subtitle" based on design

// Typography - Color
$base-color-primary: #00A6CF;
$base-color-secondary: #DEDEDE;
$base-color-sucess: #00CF89;
$base-color-info: #00A6CF;
$base-color-warning: #FFA426;
$base-color-danger: #F64F4F;
$base-color-light: #E3EAEF;
$base-color-darik: #5A5A5A;

// Typography - Text Color
$text-primary: #00A6CF;
$text-secondary: #A5A5A5;
$text-success: #00CF89;
$text-info: #00A6CF;
$text-warning: #F64F4F;
$text-light: #DEDEDE;
$text-dark: #5A5A5A;
